@import "../../../assets/styles/mixins";

.menu {
	padding-top: 80px;
	padding-bottom: 80px;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	height: 100%;
	background-color: var(--dark);
	transform: translateY(100%);
	transition: transform .3s ease-in-out;
	overflow-y: auto;

	&.active {
		transform: translateY(0);
	}

	.buttons {
		display: flex;
		margin-top: 16px;
		gap: 16px;
	}

	.link {
		padding: 10px 0;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	@include tablet {
		display: block;
	}
}
