.input {
	width: 100%;
	display: flex;
	font-family: var(--Poppins), sans-serif;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
	border: 1px solid var(--dark);
	border-radius: 4px;
	padding: 11px 12px 10px;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
	position: relative;
}

.label {
	cursor: pointer;
}
