@import "../../assets/styles/mixins";

.link {
	color: var(--lightText);
	display: inline-block;

	&:hover,
	&:focus {
		background: var(--yellow-gradient), linear-gradient(0deg, #FFFFFF, #FFFFFF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.active {
		color: var(--yellow);
		pointer-events: none;

		&:after {
			content: '';
			display: block;
			bottom: -4px;
			left: 0;
			width: 40%;
			border: 1.5px solid currentColor;
			border-radius: 10px;
		}
	}

	@include tablet-sm {
		font-size: 16px;

		&.active:after {
			display: none;
		}
	}
}
