:root {
  // FONTS
  --Poppins: 'Poppins';
  // COLORS
  --lightText: #FAFAFA;
  --dark: #142241;
  --yellow: #E9B109;
  --yellow-gradient: linear-gradient(0deg, rgba(233, 177, 9, 0.75), rgba(233, 177, 9, 0.75));
}
